<div class="container" style="margin: 0 auto;">
	<div class= "row">
		<ng-container class = "col-5" style ="align-content: center;" *ngFor='let day of fiveDayForecast' >
			<div class = "wrapper" style="background: url('{{weatherImage}}');border-radius:15px 50px;">
				<h6 class="location" 
					style="text-align:left;
						  font-size:x-small;
						  padding-top: 1em;
						  padding-left: 1em;">
						  <b>{{location}}</b></h6>
				<h4 class="heading" 
					style="text-align:center;
						   padding-left: 0.5em;
						   padding-right: 0.5em;">
						   {{day.weather[0].description}}</h4>
				<p style="font-size:xx-small;text-align:center ;">
						<b>{{day.dt_txt}}</b></p>
				<p class="temp" 
					style='text-align:right;
						   padding-right: 0.5em;
						   padding-top: -0.5em;
						   font-size: small;'>
						<b>{{day.main.feels_like}}°F</b>
				</p>
			</div>	
			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;			
		</ng-container>
	</div>
</div>

