
  <div class="container">
	<div class="row">
		<div class="col">
			<div class="weather-card rain">
				<div class="top" style="background: url('{{weatherImage}}')">
					<div class="wrapper">
				
						<h1 class="heading">{{weather.list[0].weather[0].description}}</h1>
						<h3 class="location">{{weather.city.name}}</h3>
						<p class="temp">
							<span class="temp-value">{{weather.list[0].main.feels_like}}</span>
							<span class="deg">0</span>
							<a href="javascript:;"><span class="temp-type">F</span></a>
						</p>
					</div>
				</div>
			
		</div>
	</div>
</div>
