button {
    color: #ffffff
}

.open {
    margin-top: 7px;
}
.mynav a{
    margin-right: 30px;
}
.mynav a:hover{
    border-bottom: 2px solid #ffffff;
}
.active a{
    border-bottom: 2px solid #ffffff;

}
