<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-6">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
        </div>
        <div class="col-6" style="padding-top: 20px;">
            Media Digital is the world leader in online news and information and seeks to inform, engage and empower the world. Staffed 24 hours, seven days a week by a dedicated team in Media bureaus around the world, Media digital platforms deliver news from almost 4,000 journalists in every corner of the globe.
        </div>
    </div>
</div>


