.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.chatBox {
  display: block;
  max-height: 210px;
  z-index: 11;
  position: absolute;
  margin-top: -250px;
  border: 2px solid #f7f7f7;
  margin-left: 10px;
  background: white;
  border-radius: 10%;
  padding: 12px;

}

.icons {
  border: 0.5px solid #f7f7f7;
  background: lightgrey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.showcase {
  
    
  
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section1{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;  }

    .zoom:hover {
      transform: scale(1.3);
      transition: all .5s;
  }