<div class="d-flex justify-content-center">
    <div class="title">
        <h3> News</h3>
    </div><br/>
</div>
<div class="d-flex justify-content-center zoom">
<a (click)='addnews()' class="btn btn-primary" role="button">Add New News</a>
</div>
<br />
<div class="d-flex justify-content-center">
    <div class="col-md-10 col-lg-10 order-md-2">

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Descriptions</th>
            <th>Published At</th>    
            <th>Category</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        <tr class="zoom" *ngFor = "let each_new of newslist">
            <td>{{each_new.title}}</td>
            <td>{{each_new.description}}</td>
            <td>{{each_new.publishedAt}}</td>
            <td>{{each_new.category}}</td>
            <td>
                <a (click) = 'editme(each_new)' name="" id="" class="btn btn-warning zoom"  role="button">Edit</a>&nbsp;
                <a (click) = 'deleteme(each_new)' name="" id="" class="btn btn-danger zoom"  role="button">Delete</a>

            
            </td>

        </tr>
    </tbody>
</table>
</div>
</div>