<div class="d-flex justify-content-center">
  <div class="title">
  </div>
</div>
  <br />
<div class="d-flex justify-content-center">
    <div class="card m-3 " style="width: 18rem;" >
            
            <div class="card-body">
                <form  >
                   
                    <div class="form-group">
                        <label>Chat Box</label>
                        <input 
                            type="text" 
                            formControlName="email" 
                            class="form-control" />
                           
                    </div>            
                  
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Submit Query</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
