

<div class="bodycss-login">
<div class="d-flex justify-content-center">
   
    <div class="col-md-8 col-lg-8 order-md-2 col-lg-2 login">
        <div class="loginbox justify-content-center ">
            <img src="../../../assets/image/login-Img.png" alt="" class="avatar" >
        </div>
        <div class="title">
            <h3 class="title-header">Login Here</h3>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="">
            <div class="form-row form-group">
                <input  type="text"
                        name="email"
                        formControlName="email"
                        class="form-control zoom"
                        placeholder="Email"
                        [ngClass] = "{'is-invalid': submitted && controls.email.errors}" />
                <div *ngIf="submitted && controls.email.errors">
                    <div *ngIf="controls.email.errors.required">Email is required.</div>
                    <div *ngIf="controls.email.errors.email">Email is not in proper format.</div>
                </div>
            </div>
        
            <div class="form-row form-group">
                <input  type="password"
                        name="password"
                        formControlName="password"
                        class="form-control zoom"
                        placeholder="Password"
                        [ngClass] = "{'is-invalid': submitted && controls.password.errors}" />
                <div *ngIf="submitted && controls.password.errors">
                    <div *ngIf="controls.password.errors.required">Password is required.</div>
                </div>
            </div>
            
            <div class="text-center">
                <input type="submit" value="Login" class="btn btn-primary zoom w-25">
                <input type="reset" value="Reset" class="btn btn-warning zoom w-25">
            </div>
        
        </form>
    </div>


</div>
</div>